
@media only screen and (min-width: 600px) {
    html {
        background-image: url(/images/bg-desktop.svg);

    }

    .container{
        display: flex;
        padding-left: 3.5rem;
    }

    .hero{
        &__mockup{
            height: 25rem;
        }
    }

    .content{
        &__title{
            text-align: left;
            font-size: 2rem;
            padding-bottom: 1rem;
        }

        &__title_2nd_row{
            text-align: left;
            font-size: 2rem;
        }

        &__info{
            text-align: left;
        }

        &__button{
           text-align: center;
           padding-left: 1.8rem;
           padding-right: 1.8rem;
           max-width: 6.18rem;
         
        }
    }

    .icons{
        text-align: right;
        padding-right: 2.6rem;
    }

}