.icons{
    text-align: center;
    padding-bottom: 1.9rem;
    ion-icon {
        color:white;
        font-size: 1.5rem;
        border: white 0.10rem solid;
        padding: 0.35rem;
        border-radius: 50%;
        margin: 0.35rem;
    }
   
}

