.content{
    color:white;
    text-align: center;
    font-family: $Poppins;
    padding-left: 3.5rem;
    padding-right: 3.5rem;



    &__title{
        font-size: 1.3rem;
        font-weight: bolder;
        line-height: 2rem;

    }

    &__title_2nd_row{
        font-size: 1.3rem;
        font-weight: bolder;
        line-height: 2rem;
        margin-bottom: 1rem;
    }

    &__info{
        font-size:1rem;
        line-height: 1.5rem;
        padding-bottom: 2rem;
   
    }

    &__button{
        background-color: white;
        color:$Violet;
        padding-top:1rem;
        padding-bottom:1rem;
        border-radius:1.8rem;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        margin-bottom: 4.06rem;
    }

 

}