
/*### Primary Colors*/

$Violet: hsl(257, 40%, 49%);
$SoftMagenta: hsl(300, 69%, 71%);

/*### Headings*/
$Poppins:'Poppins', sans-serif;

/*### Body*/
$OpenSans: 'Open Sans', sans-serif;

/*## Icons*/
/*<ion-icon name="logo-twitter"></ion-icon>*/
/*<ion-icon name="logo-facebook"></ion-icon>*/
/*<ion-icon name="logo-instagram"></ion-icon>*/